.exerciseModal {
  position: absolute;
  top: 5rem;
  left: 0;

  width: 100%;
  max-height: 95vh;

  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  padding: 1rem;

  background-color: rgb(32, 32, 32);

  overflow-y: scroll;

  & > a {
    position: fixed;
    bottom: 1rem;
    right: -5px;

    width: 70px;
    height: 35px;

    display: flex;
    justify-content: center;
    align-items: center;

    font-weight: 600;
    color: rgb(32, 32, 32);

    background-color: #dfff00;
  }
}
