.addModal {
  position: absolute;
  width: 94%;
  height: 60%;
  background-color: #fafafa;

  left: 3%;
  border-radius: 0.5rem;
  padding: 2rem;

  & > p {
    text-align: right;
    color: rgb(32, 32, 32);
  }
}
