@use '../../styles/utils' as *;

.exercisesContainer {
  padding: 2rem;
  & > div {
    & > div {
      & .selection {
        color: #a7bf00;
        font-weight: 600;
        font-size: 1.2rem;
        margin-bottom: 1rem;
      }
      & .option {
        @include option;
      }
      & .back {
        @include option;
        background-color: #a7bf00;

        &:hover {
          color: rgb(66, 66, 66);
        }
      }
    }
  }

  .exercises {
    // background-color: red;
  }
}
